.header {
  background-color: #3e3f47;
  max-width: 1200px;
  margin: 32px auto;
  height: 82px;
  font-size: 2rem;
  border-radius: 16px;
  padding-left: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
}
